# Python
__pycache__/
*.pyc
*.pyo
*.pyd
*.pdb
*.egg
*.egg-info/
*.log

# Virtual Environment
venv/
env/
ENV/

# OS Files
.DS_Store
Thumbs.db

# Video/media files (optional, if you want to avoid pushing big files)
videos/
*.mp4
*.mov
*.avi

# IDE/Editor files
.vscode/
.idea/
*.sublime-project
*.sublime-workspace